<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% servants.forEach(function(s) { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.className %></td>
        <td><a href="/servants/<%= s._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
