<%- include('../partials/header') %>

<section id="show-page">
    <div>Name:</div>
    <div><%= servant.name %></div>
    <div>Class:</div>
    <div><%= servant.class %></div>
    <div>Deck:</div>
    <div><%= servant.deck %></div>
    <div>NP:</div>
    <div><%= servant.np %></div>
</section>

<%- include('../partials/footer') %>