<%- include('../partials/header') %>

<section id="show-page">
    <div>Name:</div>
    <div><%= servant.name %></div>
    <div>Class:</div>
    <div><%= servant.className %></div>
    <div>Attribute:</div>
    <div><%= servant.attribute %></div>
</section>

<%- include('../partials/footer') %>